@{
    var title = ViewData["Title"] ?? "Service Request Tracker";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@title - Service Request Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="~/images/distologo.png" height="70px;" width="250px;"/>
            <nav>
                <a asp-controller="ServiceRequests" asp-action="Index">List</a>
                <a asp-controller="ServiceRequests" asp-action="Create">Create New</a>
            </nav>
        </div>
    </header>
    <main class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert success">@TempData["SuccessMessage"]</div>
        }
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <span style="color:#29385c;">&copy; @DateTime.Now.Year - disto pharmaceuticals pvt ltd ®</span>
        </div>
    </footer>
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '@TempData["SuccessMessage"]',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            });
        </script>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '@TempData["ErrorMessage"]',
                confirmButtonColor: '#d9534f'
            });
        </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
